<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ClienteMapper">

<select parameterType="map" id="consultarClientes" resultMap="ClienteResult">
		SELECT 
    c.nombre AS cliente_nombre,
    c.documento AS cliente_documento,
    c.telefono AS cliente_telefono,
    c.direccion AS cliente_direccion,
    c.email AS cliente_email,
    c.vetado AS cliente_vetado,
    ir.id AS itemrentado_id,
    ir.fechainiciorenta AS itemrentado_fechainiciorenta,
    ir.fechafinrenta AS itemrentado_fechafinrenta,
    i.id AS item_id,
    i.nombre AS item_nombre,
    i.descripcion AS item_descripcion,
    i.fechalanzamiento AS item_fechalanzamiento,
    i.tarifaxdia AS item_tarifaxdia,
    i.formatorenta AS item_formatorenta,
    i.genero AS item_genero,
    ti.id AS tipoitem_id,
    ti.descripcion AS tipoitem_descripcion
    FROM VI_CLIENTES AS c
    LEFT JOIN VI_ITEMRENTADO AS ir ON c.documento = ir.CLIENTES_documento
    LEFT JOIN VI_ITEMS AS i ON ir.ITEMS_id = i.id
    LEFT JOIN VI_TIPOITEM AS ti ON i.TIPOITEM_id = ti.id;

</select>

<delete id="deleteAll" parameterType="map">
    DELETE FROM VI_ITEMRENTADO;
</delete>  

<resultMap type="Cliente" id="ClienteResult">
    <id property="documento" column="cliente_documento"/>
    <result property="nombre" column="cliente_nombre"/>
    <result property="telefono" column="cliente_telefono"/>
    <result property="direccion" column="cliente_direccion"/>
    <result property="email" column="cliente_email"/>
    <result property="vetado" column="cliente_vetado"/>
    <collection property="itemsRentados" ofType="ItemRentado" resultMap="ItemRentadoResult"/>
</resultMap>

<select parameterType="map" id="consultarCliente" resultMap="ClienteResult">
    SELECT * FROM VI_CLIENTES WHERE documento = #{idcli}
</select>

<insert parameterType="map" id="agregarItemRentadoACliente">
    INSERT INTO VI_ITEMRENTADO (#(idcli),#(iditem),#(fi),#(ff))
</insert>

<resultMap type="Itemrentado" id="ItemRentadoResult">
    <id property="id" column="itemrentado_id"/>
    <result property="fechainiciorenta" column="itemrentado_fechainiciorenta"/>
    <result property="fechafinrenta" column="itemrentado_fechafinrenta"/>
    <collection property="item" ofType="Item" resultMap="src\main\resources\mappers\ItemMapper.xml"> </collection>
</resultMap>


</mapper>