<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.ItemMapper">

<resultMap type="Item" id="ItemResult">
    <id property="id" column="ID_ITEM"/>
    <result property="nombre" column="NOMBRE_ITEM"/>
    <result property="descripcion" column="DESCRIPCION_ITEM"/>
    <result property="fechaLanzamiento" column="FECHA_LANZAMIENTO"/>
    <result property="tarifaXDia" column="TARIFA_X_DIA"/>
    <result property="formatoRenta" column="FORMATO_RENTA"/>
    <result property="genero" column="GENERO"/>
    <association property="tipoItem" javaType="TipoItem" resultMap="TipoItemResult"/>
    <association property="itemsRentados" javaType="ItemRentado" resultMap="TipoItemResult"/>
</resultMap>

<select parameterType="int" id="consultarItem" resultMap="ItemResult">
    SELECT * FROM items WHERE id = #{id}
</select>

<select id="consultarItems" resultMap="ItemResult">
    SELECT * FROM items
</select>

<insert parameterType="map" id="insertarItem">
    INSERT INTO VI_ITEMS (id, nombre, descripcion, fechalanzamiento, tarifaxdia, formatorenta, genero, TIPOITEM_id)
    VALUES (#{id}, #{nombre}, #{descripcion}, #{fechalanzamiento}, #{tarifaxdia}, #{formatorenta}, #{genero}, #{tipoItem.id})
</insert>


</mapper>

