<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.unisabana.dyas.sampleprj.dao.mybatis.mappers.TipoItemMapper">

    
<!-- TipoItemMapper.xml -->
    <resultMap type='TipoItem' id='TipoItemResult'>
        <id property='id' column='tipo_item_id'/>
        <result property='descripcion' column='tipo_item_descripcion'/>
        <!-- Agregar más propiedades de TipoItem si es necesario -->
    </resultMap>

    <!-- Aquí pueden ir otros mapeos de consultas y sentencias SQL específicas para TipoItem -->

                
</mapper>